<app-menubar></app-menubar>

<section>

</section>
<section>

</section>
<section>
    <p-carousel [value]="activitys" [numVisible]="3" [numScroll]="3" [circular]="true" [responsiveOptions]="responsiveOptions" autoplayInterval="3000">
    <ng-template let-activity #item>
        <div class="border border-surface-200 dark:border-surface-700 rounded m-2 p-4">
            <div class="mb-4">
                <div class="relative mx-auto">
                    <img src="assets/{{activity.image}}" [alt]="" class="w-full rounded-border" />
                </div>
            </div>
            <div class="mb-4 font-medium">{{ activity.name }}</div>
            <div class="flex justify-between items-center">
                <span>
                    <p-button icon="pi pi-heart" severity="secondary" />
                </span>
            </div>
        </div>
    </ng-template>
</p-carousel>
</section>
<app-footer></app-footer>
